@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import '/styles/resets.css';

html {
  font-family: 'Nunito Sans', sans-serif;
  color: hsl(224, 43%, 90%);
  background: linear-gradient(rgba(36, 51, 91, 0.5), rgba(36, 51, 91, 0.5)),
    url(/img/background.jpg);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 1vw;
}

h1 {
  padding-left: 0.5vw;
}
h2 {
  padding-bottom: 1vh;
}

.logoWithText {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
}
.logoImg {
  height: 1rem;
  width: 1rem;
}

.tabWidget {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.tabWidget button {
  height: 3rem;
  width: 3rem;
  border: none;
  background: url(/img/expand.png) no-repeat;
  background-size: 100% 50%;
  background-position: center;
  margin-left: 1rem;
}
.tabWidget button.expanded {
  background: url(/img/collapse.png) no-repeat;
  background-size: 100% 50%;
  background-position: center;
}

.recentTabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: auto;
  padding-top: 1vh;
  width: 75vw;
  height: 8vh;
  border-radius: 10px;
  overflow-y: hidden;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  background-color: hsl(224, 43%, 90%);
  transition: height 0.5s;
}

.recentTabs.expanded {
  overflow-y: scroll;
  height: 27vh;
  transition: height 0.5s;
}

.recentTabs > a.recentTab {
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  margin-bottom: 2vh;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: border 0.2s;
  text-decoration: none;
  color: hsl(224, 43%, 25%);
  background-color: hsl(224, 43%, 96%);
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0);
}

.recentTabs > a.recentTab:hover {
  transition: border 0.2s;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  border: 1px solid hsl(224, 43%, 25%);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  border-radius: 15px;
  padding-right: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(224, 43%, 95%);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(224, 43%, 25%);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
