.recentTabs {
  margin: auto;
  width: 50%;
  min-height: 30vh;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
}

.recentTabs > div {
  width: 50%;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
