@import "./reset.css";
@import "./styles.css";
@import "./pictures.css";
@import "./modal.css";

.title {
  text-align: center;
}

.modal ul li {
  text-align: center;
}
a {
  text-decoration: none;
  color: hsl(224, 43%, 90%);
}
