.bg {
  /* background: linear-gradient(rgba(36, 51, 91, 0.5), rgba(36, 51, 91, 0.5)),
      url(/img/background.jpg); */
  position: absolute;
  z-index: -3;
  background-size: cover;
  /* background-position: center; */
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.bg-username {
  position: fixed;
  bottom: 3rem;
  left: 1rem;
  z-index: 500;
}

.title {
  left: 50%;
  right: 50%;
}

.foot {
  display: "flex";
  justify-content: "space-between";
  text-align: left;
}

.navnav {
  margin: 20px;
}

.navroute {
  left: 1rem;
  justify-content: space-between;
  text-align: right;
}
