body {
  background: #fff8f2;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.topbar {
  justify-content: right;
}
