.modal-container {
  visibility: hidden;
  display: grid;
  grid-auto-columns: 1fr;
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  transition: all 0.2s linear;
  opacity: 0;
}
.modal-container .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  list-style: none;
}
.modal-container .modal {
  position: relative;
  background: #cc457d;
  border-radius: 5px;
  box-sizing: 0 3px 15px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica", "Segoe UI Light", sans-serif;
  font-weight: lighter;
  text-align: center;
  list-style: none;
}
.modal-container .modal ul li {
  list-style: none;
  padding: 10px;
  font-size: 20px;
}

.modal-container .modal span.modal-exit {
  position: absolute;
  top: 3px;
  right: 10px;
  font-weight: bold;
  font-size: 22px;
}
.modal-container .modal-exit {
  cursor: pointer;
}

.fade-in {
  visibility: visible;
  z-index: 99;
  opacity: 1;
}

body button {
  border-radius: 100px;
  background: #fff;
  display: inline-block;
  border: none;
  padding: 10px 30px;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
