@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

#team {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(4, 18vw);
  place-content: space-evenly;
  place-items: center;
  grid-template-rows: 50vh;
}
.content {
  display: none;
  list-style-type: none;
  background-color: hsl(224, 43%, 25%);
  border-radius: 25px;
  color: #fff;
  display: grid;
  align-items: start;
  justify-content: stretch;
  height: 100%;
  width: 100%;
  background-size: cover;
  border: 10px solid hsl(224, 43%, 25%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
.content:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.ivy {
  background: url(/img/ivyimg.png);
  background-position: 40% 40%;
  background-size: 200%;
}
.cody {
  background: url(/img/codymain.jpg);
  background-position: 55% 15%;
  background-size: 225%;
}
.andre {
  background: url(/img/andremain.jpg);
  background-position: 43% 35%;
  background-size: 160%;
}
.dean {
  background: url(/img/deanmain.jpg);
  background-position: 43% 50%;
  background-size: 200%;
}
